<!DOCTYPE html>
<html>

{% set page_title = 'Index' %}
{% include "layout/_head.html" %}

<body>


{% import "components/menu/_menu-top.html" as menus %}
{% import "components/menu/_menu-footer.html" as menu_footer %}


<div id="my-page">

    {% include "layout/_header.html" %}



    <section class="section">
        <div class="container container-elastic collapse">
            

            <main class="main main--sidebar--left">
                main

                <!--div class="section-structure-elements">
                    {#% include "blocks/structure-elements/view/_structure-elements.html" %#}
                </div-->

                <div class="section-columns-width" id="columns_width">
                    {% include "blocks/columns/view/_columns_width.html" %}
                </div>

                <div class="section-columns-offsets" id="columns_offsets">
                    {% include "blocks/columns/view/_columns_offsets.html" %}
                </div>

                <div class="section-columns-nesting" id="columns_nesting">
                    {% include "blocks/columns/view/_columns_nesting.html" %}
                </div>                



            </main>





            <aside class="sidebar">
                sidebar

                

                <div class="menu-outer">
                    <div class="menu-side-outer">
                        <ul class="menu-side">
                            <li><a href="#">Overview</a></li>
                            <li><a href="#">Structure elements</a></li>
                            <li><a href="#">Modules display</a>
                                <ul class="submenu">
                                    <li><a href="#">Block</a></li>
                                    <li><a href="#">Inline-block</a></li>
                                    <li><a href="#">Flex</a></li>
                                </ul>                                
                            </li>
                            <li><a href="#">Columns</a>
                                <ul class="submenu">
                                    <li><a href="#">Columns Width</a></li>
                                    <li><a href="#">Offsets</a></li>
                                    <li><a href="#">Nesting</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Features</a>
                                <ul class="submenu">
                                    <li><a href="#">Horizontal Aligment</a></li>
                                    <li><a href="#">Vertical Aligment</a></li>
                                    <li><a href="#">Ordering (Reverse)</a></li>
                                    <li><a href="#">Columns Same Height</a></li>
                                    <li><a href="#"></a></li>
                                </ul>
                            </li>
                            <li><a href="#"></a></li>
                            <li><a href="#">Auxiliary elements</a></li>
                            <li><a href="#">Collapse</a></li>
                            <li><a href="#">Responsive utilites</a></li>
                            <li><a href="#">Text utulites</a></li>
                            <li><a href="#">SCSS utulites (functions)</a></li>
                        </ul>
                    </div>
                </div>


            </aside>

        </div>
    </section>    





    <section class="section">
        <div class="container">
        </div>
        
    </section>
    


    {#% include "layout/_footer.html" %#}

</div>



<script>hljs.initHighlightingOnLoad();</script>
{% include "layout/_scripts.html" %}


</body>
</html>