{% extends "layout/_layout.html" %}


{% set page_title = 'Overview' %}


{% block main %}

    <div class="section-overview">
        <div class="row text">
            <div class="mv_24">
                <h1>Overview </h1>
                <p>Powerfull and lightweight CSS layout framework for creating your layout like 'container/row/column' support block, inline-block and flexbox models.</p>


            </div>
        </div>
    </div>


    <div class="section-overview" id="overview">
        {% include "blocks/overview/view/_overview.html" %}
    </div>



{% endblock %}

