{% extends "layout/_layout.html" %}


{% set page_title = 'Responsive utilites' %}


{% block main %}

    <div class="section-responsive-utilites">
        <div class="row text">
            <div class="mv_24">
                <h1>Responsive utilites</h1>
                <p>Mw-grid has 2 utilites for responsive display (show/hide) elements.
                They are CSS-classes <code class="css-class">".*hidden"</code> and <code class="css-class">".*visible"</code>, which add <code class="css-property">display: none;</code></p>
                <p>'Hidden' show on small and hide on large up from breakpoint (Hide up)
                    <br>'Visible' show on large and hide on small down from breakpoint (Hide down)
                </p>

                <ul>
                    <!-- <li>'Hidden' show on small and hide on large up from breakpoint (Hide up)</li> -->
                    <!-- <li>'Visible' show on large and hide on small down from breakpoint (Hide down)</li> -->

                    <li><code class="css-class">".*hidden"</code> use media <code class="css-property">min-width</code> to hide</li>
                    <li><code class="css-class">".*visible"</code> use media <code class="css-property">max-width</code> to hide</li>
                    <li>Mix 'Hidden' and 'Visible' to show on one device only</li>
                    <li>These classes add left and right paddings (columns gap) to element. You can use <code class="css-class">".collapse"</code> to reset it when you need</li>
                </ul> 

                <p>With default breakpoints it looks like this:</p>

                <div class="table-outer">
                    <table>
                        <tr>
                            <th></th>
                            <th>Mobile Vertical <span class="font-normal">(mv_)</span><br>320px</th>
                            <th>Mobile Horizontal <span class="font-normal">(mh_)</span><br>576px</th>
                            <th>Tablets <span class="font-normal">(tb_)</span> <br>768px</th>
                            <th>Desktops <span class="font-normal">(ds_)</span> <br>1024px</th>
                            <th>High Definition <span class="font-normal">(hd_)</span> <br>1366px</th>
                        </tr>
                        <tr>
                            <td><code class="css-class">".mv_hidden"</code></td>
                            <td><span class="color-muted">hide</span></td>
                            <td><span class="color-muted">hide</span></td>
                            <td><span class="color-muted">hide</span></td>
                            <td><span class="color-muted">hide</span></td>
                            <td><span class="color-muted">hide</span></td>
                        </tr>
                        <tr>
                            <td><code class="css-class">".mh_hidden"</code></td>
                            <td><span class="color-success">show</span></td>
                            <td><span class="color-muted">hide</span></td>
                            <td><span class="color-muted">hide</span></td>
                            <td><span class="color-muted">hide</span></td>
                            <td><span class="color-muted">hide</span></td>
                        </tr>
                        <tr>
                            <td><code class="css-class">".tb_hidden"</code></td>
                            <td><span class="color-success">show</span></td>
                            <td><span class="color-success">show</span></td>
                            <td><span class="color-muted">hide</span></td>
                            <td><span class="color-muted">hide</span></td>
                            <td><span class="color-muted">hide</span></td>
                        </tr>
                        <tr>
                            <td><code class="css-class">".ds_hidden"</code></td>
                            <td><span class="color-success">show</span></td>
                            <td><span class="color-success">show</span></td>
                            <td><span class="color-success">show</span></td>
                            <td><span class="color-muted">hide</span></td>
                            <td><span class="color-muted">hide</span></td>
                        </tr>
                        <tr>
                            <td><code class="css-class">".hd_hidden"</code></td>
                            <td><span class="color-success">show</span></td>
                            <td><span class="color-success">show</span></td>
                            <td><span class="color-success">show</span></td>
                            <td><span class="color-success">show</span></td>
                            <td><span class="color-muted">hide</span></td>
                        </tr>
                    
                        <tr>
                            <td colspan="6"><hr></td>
                        </tr>
                    
                        <tr>
                            <th></th>
                            <th>Mobile Vertical <span class="font-normal">(mv_)</span><br>320px</th>
                            <th>Mobile Horizontal <span class="font-normal">(mh_)</span><br>576px</th>
                            <th>Tablets <span class="font-normal">(tb_)</span> <br>768px</th>
                            <th>Desktops <span class="font-normal">(ds_)</span> <br>1024px</th>
                            <th>High Definition <span class="font-normal">(hd_)</span> <br>1366px</th>
                        </tr>
                        <tr>
                            <td><code class="css-class">".mv_visible"</code></td>
                            <td><span class="color-success">show</span></td> 
                            <td><span class="color-success">show</span></td> 
                            <td><span class="color-success">show</span></td> 
                            <td><span class="color-success">show</span></td> 
                            <td><span class="color-success">show</span></td> 
                        </tr>
                        <tr>
                            <td><code class="css-class">".mh_visible"</code></td>
                            <td><span class="color-muted">hide</span></td>
                            <td><span class="color-success">show</span></td> 
                            <td><span class="color-success">show</span></td> 
                            <td><span class="color-success">show</span></td> 
                            <td><span class="color-success">show</span></td> 
                        </tr>
                        <tr>
                            <td><code class="css-class">".tb_visible"</code></td>
                            <td><span class="color-muted">hide</span></td>
                            <td><span class="color-muted">hide</span></td>
                            <td><span class="color-success">show</span></td> 
                            <td><span class="color-success">show</span></td> 
                            <td><span class="color-success">show</span></td> 
                        </tr>
                        <tr>
                            <td><code class="css-class">".ds_visible"</code></td>
                            <td><span class="color-muted">hide</span></td>
                            <td><span class="color-muted">hide</span></td>
                            <td><span class="color-muted">hide</span></td>
                            <td><span class="color-success">show</span></td> 
                            <td><span class="color-success">show</span></td> 
                        </tr>
                        <tr>
                            <td><code class="css-class">".hd_visible"</code></td>
                            <td><span class="color-muted">hide</span></td>
                            <td><span class="color-muted">hide</span></td>
                            <td><span class="color-muted">hide</span></td>
                            <td><span class="color-muted">hide</span></td>
                            <td><span class="color-success">show</span></td>                        
                        </tr>                    
                    </table>
                </div>

                <table style="display: none">
                    <tr>
                        <th></th>
                        <th>Mobile Vertical <span class="font-normal">(mv_)</span><br>320px</th>
                        <th>Mobile Horizontal <span class="font-normal">(mh_)</span><br>576px</th>
                        <th>Tablets <span class="font-normal">(tb_)</span> <br>768px</th>
                        <th>Desktops <span class="font-normal">(ds_)</span> <br>1024px</th>
                        <th>High Definition <span class="font-normal">(hd_)</span> <br>1366px</th>
                    </tr>
                    <tr>
                        <td><code class="css-class">".mv_visible"</code></td>
                        <td><span class="color-muted">hide</span></td>
                        <td><span class="color-muted">hide</span></td>
                        <td><span class="color-muted">hide</span></td>
                        <td><span class="color-muted">hide</span></td>
                        <td><span class="color-muted">hide</span></td>
                    </tr>
                    <tr>
                        <td><code class="css-class">".mh_visible"</code></td>
                        <td><span class="color-success">show</span></td>
                        <td><span class="color-muted">hide</span></td>
                        <td><span class="color-muted">hide</span></td>
                        <td><span class="color-muted">hide</span></td>
                        <td><span class="color-muted">hide</span></td>
                    </tr>
                    <tr>
                        <td><code class="css-class">".tb_visible"</code></td>
                        <td><span class="color-success">show</span></td>
                        <td><span class="color-success">show</span></td>
                        <td><span class="color-muted">hide</span></td>
                        <td><span class="color-muted">hide</span></td>
                        <td><span class="color-muted">hide</span></td>
                    </tr>
                    <tr>
                        <td><code class="css-class">".ds_visible"</code></td>
                        <td><span class="color-success">show</span></td>
                        <td><span class="color-success">show</span></td>
                        <td><span class="color-success">show</span></td>
                        <td><span class="color-muted">hide</span></td>
                        <td><span class="color-muted">hide</span></td>
                    </tr>
                    <tr>
                        <td><code class="css-class">".hd_visible"</code></td>
                        <td><span class="color-muted">hide</span></td>
                        <td><span class="color-muted">hide</span></td>
                        <td><span class="color-muted">hide</span></td>
                        <td><span class="color-muted">hide</span></td>
                        <td><span class="color-success">show</span></td>                        
                    </tr>
                </table>                



            </div>
        </div>
    </div>


    <div class="section-responsive-utilites" id="responsive-utilites">
        {% include "blocks/responsive-utilites/view/_responsive-utilites.html" %}
    </div>


{% endblock %}

