{% extends "layout/_layout.html" %}


{% set page_title = 'Text utilites' %}


{% block main %}

    <div class="section-text-utilites">
        <div class="row text">
            <div class="mv_24">
                <h1>Text utilites</h1>
                <p>Mw-grid has utilites for alignment. You can align text in elements with
                    follow CSS-classes <code class="css-class">".lefted"</code>, <code class="css-class">".righted"</code>, <code class="css-class">".centered"</code> and <code class="css-class">".justifyed"</code>
                </p>
                <p>All alignment values are responsive, add breakpoint prefix to class name like <code class="css-class">".tb_centered"</code> to align on tablets and large.</p>

                <ul>
                    <li>4 values for aligning</li>
                    <li>All values are responsive, have class for each device (<code class="css-class">".tb_centered"</code>)</li>
                    <li>All responsive classes work up from breakpoint</li>
                </ul>

                <p>Responsive classes work up from breakpoins(mobile-first). For expamle with default breakpoints:</p>

                <div class="table-outer">
                    <table>
                        <tr>
                            <th></th>
                            <th>Mobile Vertical <span class="font-normal">(mv_)</span><br>320px</th>
                            <th>Mobile Horizontal <span class="font-normal">(mh_)</span><br>576px</th>
                            <th>Tablets <span class="font-normal">(tb_)</span> <br>768px</th>
                            <th>Desktops <span class="font-normal">(ds_)</span> <br>1024px</th>
                            <th>High Definition <span class="font-normal">(hd_)</span> <br>1366px</th>
                        </tr>
                        <tr>
                            <td><code class="css-class">".centered", ".mv_centered",</code></td>
                            <td class="centered"><span class="color-success">centered</span></td>
                            <td class="centered"><span class="color-success">centered</span></td>
                            <td class="centered"><span class="color-success">centered</span></td>
                            <td class="centered"><span class="color-success">centered</span></td>
                            <td class="centered"><span class="color-success ">centered</span></td>
                        </tr>
                        <tr>
                            <td><code class="css-class">".mh_centered"</code></td>
                            <td class="mh_centered"><span class="color-muted">-</span></td>
                            <td class="mh_centered"><span class="color-success">centered</span></td>
                            <td class="mh_centered"><span class="color-success">centered</span></td>
                            <td class="mh_centered"><span class="color-success">centered</span></td>
                            <td class="mh_centered"><span class="color-success ">centered</span></td>
                        </tr>
                        <tr>
                            <td><code class="css-class">".tb_centered"</code></td>
                            <td class="tb_centered"><span class="color-muted">-</span></td>
                            <td class="tb_centered"><span class="color-muted">-</span></td>
                            <td class="tb_centered"><span class="color-success">centered</span></td>
                            <td class="tb_centered"><span class="color-success">centered</span></td>
                            <td class="tb_centered"><span class="color-success ">centered</span></td>
                        </tr>
                        <tr>
                            <td><code class="css-class">".ds_centered"</code></td>
                            <td class="ds_centered"><span class="color-muted">-</span></td>
                            <td class="ds_centered"><span class="color-muted">-</span></td>
                            <td class="ds_centered"><span class="color-muted">-</span></td>
                            <td class="ds_centered"><span class="color-success">centered</span></td>
                            <td class="ds_centered"><span class="color-success">centered</span></td>
                        </tr>
                        <tr>
                            <td><code class="css-class">".hd_centered"</code></td>
                            <td class="hd_centered"><span class="color-muted">-</span></td>
                            <td class="hd_centered"><span class="color-muted">-</span></td>
                            <td class="hd_centered"><span class="color-muted">-</span></td>
                            <td class="hd_centered"><span class="color-muted">-</span></td>
                            <td class="hd_centered"><span class="color-success">centered</span></td>
                        </tr>                
                    </table>
                </div>

                <p></p>

            </div>
        </div>
    </div>

    <div class="section-text-utilites" id="text-utilites">
        {% include "blocks/text-utilites/view/_text-utilites.html" %}
    </div>    


{% endblock %}

