        <div class="row">
            <div class="ds_24">
                <h2>Columns width</h2>
                <!-- <h2>Блочное отображение row</h2> -->
            </div>
            
        </div>
        <div class="row">
            <div class="ds_24 mv_24">
                <div class="demo-block"> ds_24
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="ds_12 mv_24">
                <div class="demo-block"> ds_12
                </div>
            </div>
            <div class="ds_12 mv_24">
                <div class="demo-block"> ds_12
                </div>
            </div>
        </div>

        <div class="row">
            <div class="ds_6 tb_12 mv_24">
                <div class="demo-block"> ds_6
                </div>
            </div>
            <div class="ds_6 tb_12 mv_24">
                <div class="demo-block"> ds_6
                </div>
            </div>
            <div class="ds_6 tb_12 mv_24">
                <div class="demo-block"> ds_6
                </div>
            </div>
            <div class="ds_6 tb_12 mv_24">
                <div class="demo-block"> ds_6
                </div>
            </div>
        </div>  
        <!-- ds_4 -->
        <div class="row">
            <div class="ds_4 tb_8 mh_12 mv_24">
                <div class="demo-block"> ds_4
                </div>
            </div>
            <div class="ds_4 tb_8 mh_12 mv_24">
                <div class="demo-block"> ds_4
                </div>
            </div>
            <div class="ds_4 tb_8 mh_12 mv_24">
                <div class="demo-block"> ds_4
                </div>
            </div>
            <div class="ds_4 tb_8 mh_12 mv_24">
                <div class="demo-block"> ds_4
                </div>
            </div>
            <div class="ds_4 tb_8 mh_12 mv_24">
                <div class="demo-block"> ds_4
                </div>
            </div>
            <div class="ds_4 tb_8 mh_12 mv_24">
                <div class="demo-block"> ds_4
                </div>
            </div>
        </div>
        <!-- ds_3 -->
        <div class="row">
            <div class="ds_3 tb_4 mh_8 mv_12">
                <div class="demo-block"> ds_3
                </div>
            </div>
            <div class="ds_3 tb_4 mh_8 mv_12">
                <div class="demo-block"> ds_3
                </div>
            </div>
            <div class="ds_3 tb_4 mh_8 mv_12">
                <div class="demo-block"> ds_3
                </div>
            </div>
            <div class="ds_3 tb_4 mh_8 mv_12">
                <div class="demo-block"> ds_3
                </div>
            </div>
            <div class="ds_3 tb_4 mh_8 mv_12">
                <div class="demo-block"> ds_3
                </div>
            </div>
            <div class="ds_3 tb_4 mh_8 mv_12">
                <div class="demo-block"> ds_3
                </div>
            </div>
            <div class="ds_3 tb_4 mh_8 mv_12">
                <div class="demo-block"> ds_3
                </div>
            </div>
            <div class="ds_3 tb_4 mh_8 mv_12">
                <div class="demo-block"> ds_3
                </div>
            </div>
        </div>  
        <!-- ds_2 -->
        <div class="row">
            <div class="ds_2 tb_3 mh_6 mv_12">
                <div class="demo-block">ds_2
                </div>
            </div>
            <div class="ds_2 tb_3 mh_6 mv_12">
                <div class="demo-block">ds_2
                </div>
            </div>
            <div class="ds_2 tb_3 mh_6 mv_12">
                <div class="demo-block">ds_2
                </div>
            </div>
            <div class="ds_2 tb_3 mh_6 mv_12">
                <div class="demo-block">ds_2
                </div>
            </div>
            <div class="ds_2 tb_3 mh_6 mv_12">
                <div class="demo-block">ds_2
                </div>
            </div>
            <div class="ds_2 tb_3 mh_6 mv_12">
                <div class="demo-block">ds_2
                </div>
            </div>
            <div class="ds_2 tb_3 mh_6 mv_12">
                <div class="demo-block">ds_2
                </div>
            </div>
            <div class="ds_2 tb_3 mh_6 mv_12">
                <div class="demo-block">ds_2
                </div>
            </div>
            <div class="ds_2 tb_3 mh_6 mv_12">
                <div class="demo-block">ds_2
                </div>
            </div>
            <div class="ds_2 tb_3 mh_6 mv_12">
                <div class="demo-block">ds_2
                </div>
            </div>
            <div class="ds_2 tb_3 mh_6 mv_12">
                <div class="demo-block">ds_2
                </div>
            </div>
            <div class="ds_2 tb_3 mh_6 mv_12">
                <div class="demo-block">ds_2
                </div>
            </div>
        </div>
        <!-- ds_1 -->
        <div class="row">
            <div class="ds_1 tb_2 mh_4 mv_8">
                <div class="demo-block">ds_1
                </div>
            </div>
            <div class="ds_1 tb_2 mh_4 mv_8">
                <div class="demo-block">ds_1
                </div>
            </div>
            <div class="ds_1 tb_2 mh_4 mv_8">
                <div class="demo-block">ds_1
                </div>
            </div>
            <div class="ds_1 tb_2 mh_4 mv_8">
                <div class="demo-block">ds_1
                </div>
            </div>
            <div class="ds_1 tb_2 mh_4 mv_8">
                <div class="demo-block">ds_1
                </div>
            </div>
            <div class="ds_1 tb_2 mh_4 mv_8">
                <div class="demo-block">ds_1
                </div>
            </div>
            <div class="ds_1 tb_2 mh_4 mv_8">
                <div class="demo-block">ds_1
                </div>
            </div>
            <div class="ds_1 tb_2 mh_4 mv_8">
                <div class="demo-block">ds_1
                </div>
            </div>
            <div class="ds_1 tb_2 mh_4 mv_8">
                <div class="demo-block">ds_1
                </div>
            </div>
            <div class="ds_1 tb_2 mh_4 mv_8">
                <div class="demo-block">ds_1
                </div>
            </div>
            <div class="ds_1 tb_2 mh_4 mv_8">
                <div class="demo-block">ds_1
                </div>
            </div>
            <div class="ds_1 tb_2 mh_4 mv_8">
                <div class="demo-block">ds_1
                </div>
            </div>
            
            <div class="ds_1 tb_2 mh_4 mv_8">
                <div class="demo-block">ds_1
                </div>
            </div>
            <div class="ds_1 tb_2 mh_4 mv_8">
                <div class="demo-block">ds_1
                </div>
            </div>
            <div class="ds_1 tb_2 mh_4 mv_8">
                <div class="demo-block">ds_1
                </div>
            </div>
            <div class="ds_1 tb_2 mh_4 mv_8">
                <div class="demo-block">ds_1
                </div>
            </div>
            <div class="ds_1 tb_2 mh_4 mv_8">
                <div class="demo-block">ds_1
                </div>
            </div>
            <div class="ds_1 tb_2 mh_4 mv_8">
                <div class="demo-block">ds_1
                </div>
            </div>
            <div class="ds_1 tb_2 mh_4 mv_8">
                <div class="demo-block">ds_1
                </div>
            </div>
            <div class="ds_1 tb_2 mh_4 mv_8">
                <div class="demo-block">ds_1
                </div>
            </div>
            <div class="ds_1 tb_2 mh_4 mv_8">
                <div class="demo-block">ds_1
                </div>
            </div>
            <div class="ds_1 tb_2 mh_4 mv_8">
                <div class="demo-block">ds_1
                </div>
            </div>
            <div class="ds_1 tb_2 mh_4 mv_8">
                <div class="demo-block">ds_1
                </div>
            </div>
            <div class="ds_1 tb_2 mh_4 mv_8">
                <div class="demo-block">ds_1
                </div>
            </div>
        </div>
