<!-- <div class="row">
    <div class="ds_24">
        <h2>Columns offsets</h2>
    </div>
    
</div> -->


<!-- Doc  -->
<div class="row text">

    <div class="ds_24">
        <!-- <h3>Columns offsets</h3> -->
        <h2>Columns offsets</h2>
        <p>Columns can has offsets (from left), and we have classes like <code class="css-class">".ds_offset_6"</code> to moving columns</p>

        <ul>
            <li>Offsets sizes are the same as columns sizes</li>
            <li>Offsets is CSS-property <code class="css-property">margin-left</code></li>
            <li>Offsets are responsive (<code class="css-class">".tb_offset_6.ds_offset_4"</code>) up to devices</li>
            <li>Offsets can be reset (<code class="css-class">".tb_offset_2.ds_offset_0"</code>)</li>
        </ul>

    </div>

</div>


<!-- Demo -->
<div class="demo-rows">
    <div class="row">
        <div class="mv_2 mv_offset_1">
            <div class="demo-block">offset_1
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="mv_2 mv_offset_2">
            <div class="demo-block">offset_2
            </div>
        </div>
        <div class="mv_2 mv_offset_2">
            <div class="demo-block">offset_2
            </div>
        </div>                
    </div>
    
    <div class="row">
        <div class="mv_3 mv_offset_3">
            <div class="demo-block">offset_3
            </div>
        </div>
        <div class="mv_3 mv_offset_0">
            <div class="demo-block">offset_0
            </div>
        </div>
        <div class="mv_3 mv_offset_3 ds_offset_0">
            <div class="demo-block">ds_offset_0
            </div>
        </div>                    
    </div>

     <div class="row">
        <div class="mv_12 mv_offset_12">
            <div class="demo-block">offset_12
            </div>
        </div>
    </div>

     <div class="row">
        <div class="mv_20 mv_offset_2">
            <div class="demo-block">offset_2
            </div>
        </div>
    </div>            

</div>


<!-- Code -->
<div class="row">
    <div class="mv_24">
        <pre>
            <code class="html-language">
&lt;div class="row"&gt;
    &lt;div class="mv_2 mv_offset_1"&gt;
        &lt;div class="demo-block"&gt;offset_1
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;div class="row"&gt;
    &lt;div class="mv_2 mv_offset_2"&gt;
        &lt;div class="demo-block"&gt;offset_2
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="mv_2 mv_offset_2"&gt;
        &lt;div class="demo-block"&gt;offset_2
        &lt;/div&gt;
    &lt;/div&gt;                
&lt;/div&gt;

&lt;div class="row"&gt;
    &lt;div class="mv_3 mv_offset_3"&gt;
        &lt;div class="demo-block"&gt;offset_3
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="mv_3 mv_offset_0"&gt;
        &lt;div class="demo-block"&gt;offset_0
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="mv_3 mv_offset_3 ds_offset_0"&gt;
        &lt;div class="demo-block"&gt;ds_offset_0
        &lt;/div&gt;
    &lt;/div&gt;                    
&lt;/div&gt;

 &lt;div class="row"&gt;
    &lt;div class="mv_12 mv_offset_12"&gt;
        &lt;div class="demo-block"&gt;offset_12
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

 &lt;div class="row"&gt;
    &lt;div class="mv_20 mv_offset_2"&gt;
        &lt;div class="demo-block"&gt;offset_2
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
            </code>
        </pre>
    </div>
 
</div>


