<!-- <div class="row">
    <div class="ds_24">
        <h2>Columns offsets</h2>
    </div>
    
</div> -->


<!-- Doc  -->
<div class="row text">

    <div class="ds_24">
        <h2>Columns Nesting</h2>
        <p>Columns can be nested. Always it's need <code class="css-class">".row"</code> wrapper </p>
    </div>

</div>


<!-- Demo -->
<div class="demo-rows">

    <div class="row">
        
        <div class="mv_12">
            <div class="demo-block">mv_12

                <div class="row">
                    <div class="mv_12">
                        <div class="demo-block">
                            <div class="mv_12">mv_12</div>
                        </div>
                    </div>
                    <div class="mv_12">
                        <div class="demo-block">
                            <div class="mv_12">mv_12</div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>     
    </div>








</div>


<!-- Code -->
<div class="row">
    <div class="mv_24">
        <pre>
            <code class="html-language">
&lt;div class="row"&gt;
    
    &lt;div class="mv_12"&gt;
        &lt;div class="demo-block"&gt;mv_12

            &lt;div class="row"&gt;
                &lt;div class="mv_12"&gt;
                    &lt;div class="demo-block"&gt;
                        &lt;div class="mv_12"&gt;mv_12&lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class="mv_12"&gt;
                    &lt;div class="demo-block"&gt;
                        &lt;div class="mv_12"&gt;mv_12&lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;                    
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;     
&lt;/div&gt;
            </code>
        </pre>
    </div>
 
</div>


