
<!-- Doc  -->
<div class="row text">

    <div class="ds_24">
        <h2>Inline-block model</h2>
        <p>Inline-Block is more powerfull than block and more cross-browser than flex. It has vertical aligment columns in row</p>

        <ul>
            <li>Columns in inline-block row display like inline-blocks <code class="css-property">display: inline-blocks;</code></li>
            <li>Columns order can be reverse (<code class="css-class">."row-reverse"</code>)</li>
            <li>Columns can be aligned vertically (<code class="css-class">."middle"</code> and other)</li>
            <li>Row has nulled font-size (<code class="css-property">font-size: 0</code> )</li>
        </ul>

    </div>

</div>


<!-- Demo -->
<div class="demo-rows">

    <div class="demo-block">"row-line middle"

        <div class="row-line middle">
            <div class="mv_12">
                <div class="demo-block" style="font-size: 1rem">column 1<br>we need set font-size to element in a row-line
                </div>
            </div>
            <div class="mv_12">
                <div class="demo-block" style="font-size: 1rem">column 2 
                </div>
            </div>                    
        </div>
    </div>

</div>


<!-- Code -->
<div class="row">
    <div class="mv_24">
        <pre>
            <code class="html-language">

&lt;div class="demo-block"&gt;"row-line middle"

    &lt;div class="row-line middle"&gt;
        &lt;div class="mv_12"&gt;
            &lt;div class="demo-block" style="font-size: 1rem"&gt;column 1&lt;br&gt;we need set font-size to element in a row-line
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="mv_12"&gt;
            &lt;div class="demo-block" style="font-size: 1rem"&gt;column 2 
            &lt;/div&gt;
        &lt;/div&gt;                    
    &lt;/div&gt;
&lt;/div&gt;

            </code>
        </pre>
    </div>
 
</div>


