
<!-- Doc  -->
<div class="row text">

    <div class="ds_24">
        <h2>Flex model</h2>
        <p>Flex is most powerfull way to arrange columns inside rows. It has columns same height and specific columns order.</p>

        <ul>
            <li>Columns in flex row display like elements in flex container <code class="css-property">display: flex</code></li>
            <li>Columns order can be reverse (<code class="css-class">."row-reverse"</code>)</li>
            <li>Columns can be aligned vertically (<code class="css-class">."middle"</code> and other)</li>
            <li>Columns can be the same height (<code class="css-class">."stretch"</code>)</li>
        </ul>

    </div>

</div>


<!-- Demo -->
<div class="demo-rows">

    <div class="demo-block">"row-flex stretch"

        <div class="row-flex stretch">
            <div class="mv_12">
                <div class="demo-block">column 1<br>columns can be <br>the same height
                </div>
            </div>
            <div class="mv_12">
                <div class="demo-block">column 2 
                </div>
            </div>                    
        </div>
    </div>

</div>


<!-- Code -->
<div class="row">
    <div class="mv_24">
        <pre>
            <code class="html-language">

&lt;div class="demo-block"&gt;"row-flex stretch"

    &lt;div class="row-flex stretch"&gt;
        &lt;div class="mv_12"&gt;
            &lt;div class="demo-block"&gt;column 1&lt;br&gt;columns can be &lt;br&gt;the same height
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="mv_12"&gt;
            &lt;div class="demo-block"&gt;column 2 
            &lt;/div&gt;
        &lt;/div&gt;                    
    &lt;/div&gt;
&lt;/div&gt;

            </code>
        </pre>
    </div>
 
</div>
