
<!-- Doc  -->
<div class="row text">

    <div class="ds_24">
        <h2>Block model</h2>
        <p>Block model is simple and solid oldschool recepsion for make modular grid layout</p>

        <ul>
            <li>Columns in block row display like blocks<code class="css-property">float: left;</code></li>
            <li>Columns order can be reverse (<code class="css-class">."row-reverse"</code> )</li>
        </ul>


        <p>Columns can be nested. Always it's need <code class="css-class">".row"</code> wrapper </p>
    </div>

</div>


<!-- Demo -->
<div class="demo-rows">

        
    <div class="demo-block">"row row-reverse"

        <div class="row row-reverse">
            <div class="mv_12">
                <div class="demo-block">column 1
                </div>
            </div>
            <div class="mv_12">
                <div class="demo-block">column 2
                </div>
            </div>                    
        </div>
    </div>


</div>


<!-- Code -->
<div class="row">
    <div class="mv_24">
        <pre>
            <code class="html-language">

&lt;div class="demo-block"&gt;"row row-reverse"

    &lt;div class="row row-reverse"&gt;
        &lt;div class="mv_12"&gt;
            &lt;div class="demo-block"&gt;column 1
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="mv_12"&gt;
            &lt;div class="demo-block"&gt;column 2
            &lt;/div&gt;
        &lt;/div&gt;                    
    &lt;/div&gt;
&lt;/div&gt;

            </code>
        </pre>
    </div>
 
</div>


