<footer class="footer section">
    <div class="footer-top">
        <div class="container">
            
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="mv_24 centered">
                    <div>It is available for use and modification under the <a href="https://github.com/Malahov-web/mw-grid/blob/master/LICENSE">MIT&nbsp;License</a></div>
                    <div class="copyrights">mw-grid© 2019-2021 by <a href="https://github.com/Malahov-web" target="_blank">Kirill Malahov</a>
                    {#{ site['copyrights'] }#}</div>
                </div>
            </div>
        </div>
    </div>

</footer>

