
<!-- Doc  -->
<div class="row text">

    <div class="ds_24">
        <h2>Columns Same Height</h2>
        <p>To make columns same height you need just use stretch aligment in <code class="css-class">".row-flex"</code>. Add class <code class="css-class">".stretch"</code> to row.</p>

        <ul>
            <li>Use <code class="css-property">align-items: stretch</code> for flex model</li>
            <li>Non-responsive - class set alignment for all breakpoints</li>
            <li>Supports by flex model only</li>
            <li>Notice: stretch alignment in ".flex-row" is set by default</li>
        </ul>

    </div>

</div>


<!-- Demo -->
<div class="demo-rows">


    <div class="row-flex stretch">
        <div class="ds_8">
            <div class="">Little content
            </div>          
        </div>
        <div class="ds_8">
            <div class="">Long content. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
            </div>              
        </div>
    </div>


</div>

<!-- Code -->
<div class="row">
    <div class="mv_24">
        <pre>
            <code class="html-language">
    &lt;div class="row-flex stretch"&gt;
        &lt;div class="ds_8"&gt;
            &lt;div class=""&gt;Little content
            &lt;/div&gt;          
        &lt;/div&gt;
        &lt;div class="ds_8"&gt;
            &lt;div class=""&gt;Long content. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
            &lt;/div&gt;              
        &lt;/div&gt;
    &lt;/div&gt;
            </code>
        </pre>
    </div>
 
</div>


