
<!-- Doc  -->
<div class="row text">

    <div class="ds_24">
        <h2>Specific order</h2>
        <p>Documentation in progress (see classes "*order*" in compiled css styles)</p>

    </div>

</div>


<!-- Demo -->
<!--div class="demo-rows">


    <div class="row-line  reverse">
        <div class="ds_8">
            <div class="demo-inline-block">First column
            </div>          
        </div>
        <div class="ds_8">
            <div class="demo-inline-block">Second column
            </div>              
        </div>
        <div class="ds_8">
            <div class="demo-inline-block">Third column
            </div>              
        </div>
    </div>


</div-->

<!-- Code -->
<!--div class="row">
    <div class="mv_24">
        <pre>
            <code class="html-language">
    &lt;div class="row-flex  reverse&gt;
        &lt;div class="ds_8"&gt;
            &lt;div class="demo-inline-block"&gt;First column
            &lt;/div&gt;          
        &lt;/div&gt;
        &lt;div class="ds_8"&gt;
            &lt;div class="demo-inline-block"&gt;Second column
            &lt;/div&gt;              
        &lt;/div&gt;
        &lt;div class="ds_8"&gt;
            &lt;div class="demo-inline-block"&gt;Third column
            &lt;/div&gt;              
        &lt;/div&gt;
    &lt;/div&gt;
            </code>
        </pre>
    </div>
 
</div-->


