
<!-- Doc  -->
<div class="row text">

    <div class="ds_24">
        <h2>Horizontal alignment</h2>
        <p>You can control the horizontal alignment of columns using <a href="/columns.html#offsets">offsets</a>.
        <br>To form the offset CSS-class to the device name add the key word "offset" and size - the number of columns, like <code class="css-class">".ds_offset_2"</code>. </p>

        <ul>
            <li>Use columns offsets</li>
            <li>Horizontal alignment is responsive - work up from breakpoint</li>
            <li>Supports by all display models</li>
        </ul>


        <!-- <p>Columns can be nested. Always it's need <code class="css-class">".row"</code> wrapper </p> -->
    </div>

</div>


<!-- Demo -->
<div class="demo-rows">
    <div class="row">
        <div class="mv_2 mv_offset_1">
            <div class="demo-block">offset_1
            </div>
        </div>
    </div>

    <div class="row">
        <div class="mv_2 mv_offset_2">
            <div class="demo-block">offset_2
            </div>
        </div>
        <div class="mv_2 mv_offset_2">
            <div class="demo-block">offset_2
            </div>
        </div>                
    </div>
    
    <div class="row">
        <div class="mv_3 mv_offset_3">
            <div class="demo-block">offset_3
            </div>
        </div>
        <div class="mv_3 mv_offset_0">
            <div class="demo-block">offset_0
            </div>
        </div>
        <div class="mv_3 mv_offset_3 ds_offset_0">
            <div class="demo-block">ds_offset_0
            </div>
        </div>                    
    </div>

     <div class="row">
        <div class="mv_12 mv_offset_12">
            <div class="demo-block">offset_12
            </div>
        </div>
    </div>

     <div class="row">
        <div class="mv_20 mv_offset_2">
            <div class="demo-block">offset_2
            </div>
        </div>
    </div>            

</div>

<!-- Code -->
<div class="row">
    <div class="mv_24">
        <pre>
            <code class="html-language">
&lt;div class="row"&gt;
    &lt;div class="mv_2 mv_offset_1"&gt;
        &lt;div class="demo-block"&gt;offset_1
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;div class="row"&gt;
    &lt;div class="mv_2 mv_offset_2"&gt;
        &lt;div class="demo-block"&gt;offset_2
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="mv_2 mv_offset_2"&gt;
        &lt;div class="demo-block"&gt;offset_2
        &lt;/div&gt;
    &lt;/div&gt;                
&lt;/div&gt;

&lt;div class="row"&gt;
    &lt;div class="mv_3 mv_offset_3"&gt;
        &lt;div class="demo-block"&gt;offset_3
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="mv_3 mv_offset_0"&gt;
        &lt;div class="demo-block"&gt;offset_0
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="mv_3 mv_offset_3 ds_offset_0"&gt;
        &lt;div class="demo-block"&gt;ds_offset_0
        &lt;/div&gt;
    &lt;/div&gt;                    
&lt;/div&gt;

 &lt;div class="row"&gt;
    &lt;div class="mv_12 mv_offset_12"&gt;
        &lt;div class="demo-block"&gt;offset_12
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

 &lt;div class="row"&gt;
    &lt;div class="mv_20 mv_offset_2"&gt;
        &lt;div class="demo-block"&gt;offset_2
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
            </code>
        </pre>
    </div>
 
</div>


