
<!-- Doc  -->
<div class="row text">

    <div class="ds_24">
        <h2>Vertical alignment</h2>
        <p>And control the vertical alignment is done using follow classes:
        <code class="css-class">".top"</code>, <code class="css-class">".middle"</code>, <code class="css-class">".bottom"</code>, and <code class="css-class">".baseline"</code>
        </p>


        <ul>
            <li>Have 4 universal classes for alignment</li>
            <li>Use <code class="css-property">vertical-align</code> for inline-block model, and <code class="css-property">align-items</code> for flex-model.</li>
            <li>Non-responsive - class set alignment for all breakpoints</li>
            <li>Supports by inline-block and flex models</li>
        </ul>


        <!-- <p>Columns can be nested. Always it's need <code class="css-class">".row"</code> wrapper </p> -->
    </div>

</div>


<!-- Demo -->
<div class="demo-rows">

    <h4>Vertical alignment top</h4>
    <div class="row-line top">
        <div class="ds_6">
            <div class="demo-inline-block">.row-line.top
            </div>
        </div>
        <div class="ds_9">
            <div class="demo-inline-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
            </div>
        </div>
        <div class="ds_9">
            <div class="demo-inline-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit
            </div>
        </div>
    </div>

    <h4>Vertical alignment middle</h4>
    <div class="row-flex middle">
        <div class="ds_6">
            <div class="demo-inline-block">.row-flex.middle
            </div>
        </div>
        <div class="ds_9">
            <div class="demo-inline-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
            </div>
        </div>
        <div class="ds_9">
            <div class="demo-inline-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit
            </div>
        </div>
    </div>

    <h4>Vertical alignment bottom</h4>
    <div class="row-flex bottom">
        <div class="ds_6">
            <div class="demo-inline-block">.row-flex.bottom
            </div>
        </div>
        <div class="ds_9">
            <div class="demo-inline-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
            </div>
        </div>
        <div class="ds_9">
            <div class="demo-inline-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit
            </div>
        </div>
    </div> 
           

</div>

<!-- Code -->
<div class="row">
    <div class="mv_24">
        <pre>
            <code class="html-language">
    &lt;h4&gt;Vertical alignment top&lt;/h4&gt;
    &lt;div class="row-line top"&gt;
        &lt;div class="ds_6"&gt;
            &lt;div class="demo-inline-block"&gt;.row-line.top
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="ds_9"&gt;
            &lt;div class="demo-inline-block"&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="ds_9"&gt;
            &lt;div class="demo-inline-block"&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;h4&gt;Vertical alignment middle&lt;/h4&gt;
    &lt;div class="row-flex middle"&gt;
        &lt;div class="ds_6"&gt;
            &lt;div class="demo-inline-block"&gt;.row-flex.middle
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="ds_9"&gt;
            &lt;div class="demo-inline-block"&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="ds_9"&gt;
            &lt;div class="demo-inline-block"&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;h4&gt;Vertical alignment bottom&lt;/h4&gt;
    &lt;div class="row-flex bottom"&gt;
        &lt;div class="ds_6"&gt;
            &lt;div class="demo-inline-block"&gt;.row-flex.bottom
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="ds_9"&gt;
            &lt;div class="demo-inline-block"&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="ds_9"&gt;
            &lt;div class="demo-inline-block"&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt; 
            </code>
        </pre>
    </div>
 
</div>


