<!-- Demo -->
<div class="demo-rows">


    <div class="row ">

        <div class="mv_24 centered">
            <div class="demo-block">
                .centered
                <div class="row">
                    <div class="mv_12 mv_offset_6 centered">
                        <div class="demo-block">
                            Text is centered on all devices
                        </div>
                    </div>
                </div>
            </div>            
        </div>  

    </div>

    <div class="row ">

        <div class="mv_24 centered">
            <div class="demo-block">
                .mv_centered .td_lefted .hd_righted
                <div class="row">
                    <div class="mv_12 mv_offset_6 mv_centered  td_lefted  hd_righted">
                        <div class="demo-block">
                            Text is righted on HD, 
                            <br> lefted on Tablets,
                            <br> and centered on Mobiles
                        </div>
                    </div>
                </div>
            </div>            
        </div>  

    </div> 

</div>    





<!-- Code -->
<div class="row">
    <div class="mv_24">
        <pre>
            <code class="html-language">
    &lt;div class="row "&gt;

        &lt;div class="mv_24 centered"&gt;
            &lt;div class="demo-block"&gt;
                .centered
                &lt;div class="row"&gt;
                    &lt;div class="mv_12 mv_offset_6 centered"&gt;
                        &lt;div class="demo-block"&gt;
                            Text is centered on all devices
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;            
        &lt;/div&gt;  

    &lt;/div&gt;

    &lt;div class="row "&gt;

        &lt;div class="mv_24 centered"&gt;
            &lt;div class="demo-block"&gt;
                .mv_centered .td_lefted .hd_righted
                &lt;div class="row"&gt;
                    &lt;div class="mv_12 mv_offset_6 mv_centered  td_lefted  hd_righted"&gt;
                        &lt;div class="demo-block"&gt;
                            Text is righted on HD, 
                            &lt;br&gt; lefted on Tablets,
                            &lt;br&gt; and centered on Mobiles
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;            
        &lt;/div&gt;  

    &lt;/div&gt; 
            </code>
        </pre>
    </div>
 
</div>
