<!-- Demo -->
<div class="demo-rows">

    <h4>Row collapse</h4>

    <div class="row collapse">

        <div class="mv_12">
            <div class="demo-block">Row collapse

                <div class="row ">
                    <div class="mv_12">
                        <div class="demo-block">mv_12
                        </div>
                    </div>
                    <div class="mv_12">
                        <div class="demo-block">mv_12
                        </div>
                    </div>                    
                </div>
            </div>
        </div>     
    </div>

    <h4>Row collapse-this</h4>

    <div class="row collapse-this">

        <div class="mv_12">
            <div class="demo-block">Row collapse-this

                <div class="row ">
                    <div class="mv_12">
                        <div class="demo-block">mv_12
                        </div>
                    </div>
                    <div class="mv_12">
                        <div class="demo-block">mv_12
                        </div>
                    </div>                    
                </div>
            </div>
        </div>     
    </div>

    <h4>Container collapse</h4>

    <div class="row">
        <div class="container collapse" style="float: none;">
            <div class="row">
                
                <div class="mv_12">
                    <div class="demo-block">Container collapse

                        <div class="row ">
                            <div class="mv_12">
                                <div class="demo-block">mv_12
                                </div>
                            </div>
                            <div class="mv_12">
                                <div class="demo-block">mv_12
                                </div>
                            </div>                    
                        </div>
                    </div>
                </div>     
            </div>
        </div>
    </div>

    <h4>Column collapse</h4>

    <div class="row">

        <div class="mv_12">
            <div class="demo-block"> mv_12

                <div class="row">
                    <div class="mv_12">
                        <div class="demo-block">Column collapse
                        </div>
                    </div>
                    <div class="mv_12">
                        <div class="demo-block">mv_12
                        </div>
                    </div>                    
                </div>
            </div>
        </div>     
    </div>

</div>


<!-- Code -->
<div class="row">
    <div class="mv_24">
        <pre>
            <code class="html-language">
    &lt;h4&gt;Row collapse&lt;/h4&gt;

    &lt;div class="row collapse"&gt;

        &lt;div class="mv_12"&gt;
            &lt;div class="demo-block"&gt;Row collapse

                &lt;div class="row "&gt;
                    &lt;div class="mv_12"&gt;
                        &lt;div class="demo-block"&gt;mv_12
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class="mv_12"&gt;
                        &lt;div class="demo-block"&gt;mv_12
                        &lt;/div&gt;
                    &lt;/div&gt;                    
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;     
    &lt;/div&gt;

    &lt;h4&gt;Row collapse-this&lt;/h4&gt;

    &lt;div class="row collapse-this"&gt;

        &lt;div class="mv_12"&gt;
            &lt;div class="demo-block"&gt;Row collapse-this

                &lt;div class="row "&gt;
                    &lt;div class="mv_12"&gt;
                        &lt;div class="demo-block"&gt;mv_12
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class="mv_12"&gt;
                        &lt;div class="demo-block"&gt;mv_12
                        &lt;/div&gt;
                    &lt;/div&gt;                    
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;     
    &lt;/div&gt;

    &lt;h4&gt;Container collapse&lt;/h4&gt;

    &lt;div class="row"&gt;
        &lt;div class="container collapse" style="float: none;"&gt;
            &lt;div class="row"&gt;
                
                &lt;div class="mv_12"&gt;
                    &lt;div class="demo-block"&gt;Container collapse

                        &lt;div class="row "&gt;
                            &lt;div class="mv_12"&gt;
                                &lt;div class="demo-block"&gt;mv_12
                                &lt;/div&gt;
                            &lt;/div&gt;
                            &lt;div class="mv_12"&gt;
                                &lt;div class="demo-block"&gt;mv_12
                                &lt;/div&gt;
                            &lt;/div&gt;                    
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;     
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;h4&gt;Column collapse&lt;/h4&gt;

    &lt;div class="row"&gt;

        &lt;div class="mv_12"&gt;
            &lt;div class="demo-block"&gt; mv_12

                &lt;div class="row"&gt;
                    &lt;div class="mv_12"&gt;
                        &lt;div class="demo-block"&gt;Column collapse
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class="mv_12"&gt;
                        &lt;div class="demo-block"&gt;mv_12
                        &lt;/div&gt;
                    &lt;/div&gt;                    
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;     
    &lt;/div&gt;
            </code>
        </pre>
    </div>
 
</div>
