/*
 * .Base
 *
*/

@import 'vars';
@import 'mixins';
@import 'components';

/*
 * Base
*/

html{
    font-size : 14px;
    height: 100%;
}
body{
    font-size : inherit;
    // line-height : $l_h;
    font-family : $font_family;
    height: 100%;   
    margin: 0;
    font-weight: 300;
}

*{
    box-sizing: border-box;
}

a{
    text-decoration : none;
    &:hover{
        // color: $accent_dark; // Иконки в кнопках <a> задевает
    }
}
ul, ol{
    margin: 0 ; padding: 0;
    list-style: none;
    // list-style-position: inside;
}
h1, h2, h3, h4,
.h1, .h2, .h3, .h4{
    // margin: 0;
    margin: 1/2*$l_h  0;
    line-height: $l_h_head;
    font-family: $font_family_head;
    // font-weight: bold;
    // letter-spacing: $l_s_big;
    font-weight: 400;
    color: $text;
}
h1, .h1{
    font-size: $font_h1;
    // letter-spacing: $l_s_big;
    font-weight: bold;
}
h2, .h2{
    font-size: $font_h2;
    font-weight: bold;
}
h3, .h3{
    font-size: $font_h3;
}
h4, .h4{
    font-size: $font_h4;
}

p{
    // margin-top: 0;
    // margin-bottom: 1em;
    font-size: $fb;
    line-height: $l_h;
    font-weight: 300;

}
img{
    display: block;
    max-width: 100%; width: 100%; height: auto;
}

.themify:before,
.themify:after{
    vertical-align: middle;
    display: block;
}






.section-component {
    margin: 2 * $l_h 0;
}
.footer {
    margin-top: 4*$l_h_base;
}


code {
    background-color: $grey_lighter;
    font-family: Consolas;
}
.text code,
p code {
    padding: 0 2px;
    background-color: $grey_lighter;
    border-radius: 4px;
}
code.css-class {
    color: darkred;
    // color: red;
}
code.css-property {
    background: none;
    color: lightblue;
    color: steelblue;
}
code.scss-var {
    color: darkcyan; 
}

pre {

    code {


    }
}

.text {
    p {
        margin: 1*$l_h  0;
    }
    h1, h2, h3, h4,
    .h1, .h2, .h3, .h4 {
        margin: 1/2*$l_h  0;
    }   

    ul, ol{
        margin: 1*$l_h  0;
        padding: 0;
        list-style: disc;
        list-style-position: inside;
    }    
}


// Pre
pre > code {
    opacity: 0;
}

/*
    "mainmenu": [
        {
            "item-name": "Overview",
            "item-link": "overview"

        },
        {
            "item-name": "Structure elements",
            "item-link": "structure-elements"
        },
        {
            "item-name": "Modules display",
            "item-link": "modules-display",
            "submenu" : [
                {
                    "item-name" : "Block",
                    "item-link": "#block"
                },
                {
                    "item-name" : "Inline-block",
                    "item-link": "#inline-block"
                },
                {
                    "item-name" : "Flex",
                    "item-link": "#flex"
                }
            ]            
        },
        {
            "item-name": "Columns",
            "item-link": "columns",
            "submenu" : [
                {
                    "item-name" : "Columns Width",
                    "item-link": "#columns-width"
                },
                {
                    "item-name" : "Offsets",
                    "item-link": "#offsets"
                },
                {
                    "item-name" : "Nesting",
                    "item-link": "#nesting"
                }
            ]
        },
        {
            "item-name": "Features",
            "item-link": "features",
            "submenu" : [
                {
                    "item-name" : "Horizontal Aligment",
                    "item-link": "horizontal-aligment"
                },
                {
                    "item-name" : "Vertical Aligment",
                    "item-link": "vertical-aligment"
                },
                {
                    "item-name" : "Ordering (Reverse)",
                    "item-link": "ordering-reverse"
                },
                {
                    "item-name" : "Columns Same Height",
                    "item-link": "columns-same-height"
                }

            ]            
        },
        {
            "item-name": "Auxiliary elements",
            "item-link": "auxiliary-elements"
        },
        {
            "item-name": "Collapse",
            "item-link": "collapse"
        },
        {
            "item-name": "Responsive utilites",
            "item-link": "responsive-utilites"
        },        
        {
            "item-name": "Text utulites",
            "item-link": "text-utulites"
        },
        {
            "item-name": "SCSS utulites (functions)",
            "item-link": "scss-utulites-functions"
        }        

    ],*/    
