// Options: 
$columns: 24;
// $columns_gap: 15;
$columns_gap: 10;
$container_width: 1200;
$breakpoints_between: 'responsive'; // 'responsive' || 'fixed' 
 
$modules_display: ( 
    block: 1,
    inline-block: 0,
    flex: 1
);
 
$devices: ( 
    mv_: (
        breakpoint: 320,
        container_max: 300,
        font_base: 15px,
        ms_coeff: 1.10,
    ),
    tb_: (
        breakpoint: 768,
        container_max: 750,
        font_base: 15px,
        ms_coeff: 1.17,
    ), 
    ds_: (
        breakpoint: 1024,
        container_max: 960,
        font_base: 16px,
        ms_coeff: 1.17
    )     
);