// Options: 
$columns: 24;
// $columns_gap: 15;
$columns_gap: 15;
$container_width: 1200;
$breakpoints_between: 'responsive'; // 'responsive' || 'fixed' 
// $breakpoints_between: 'fixed'; // 'responsive' || 'fixed' 
$vertical_alignment_responsive: 1; // 0 || 1 

$display_models: ( 
    block: 1,
    inline-block: 1,
    flex: 1
); 

$devices: ( 
    mv_: (
        // columns_gap: 11,
        breakpoint: 320,
        container_max: 300,
        font_base: 15px,
        ms_coeff: 1.10,
        my_prop: 123,
        line_height: 1.5
    ),
    tb_: (
        // columns_gap: 16,
        breakpoint: 768,
        container_max: 750,
        font_base: 15px,
        ms_coeff: 1.17,
    ), 
    ds_: (
        // columns_gap: 21,
        breakpoint: 1024,
        container_max: 960,
        font_base: 16px,
        ms_coeff: 1.17,
        my_prop: 345,
        line_height: 1.7        
    )     
);