<!-- Demo -->
<div class="demo-rows">

    <h4>Hidden</h4>

    <div class="row ">

        <div class="mv_24">
            <div class="demo-block">Resize browser window to see hiden columns

                <div class="row ">
                    <div class="mv_12 hd_hidden" >
                        <div class="demo-block">mv_12 ds_hidden
                        </div>
                    </div>
                    <div class="mv_12 ds_hidden">
                        <div class="demo-block">mv_12 tb_hidden
                        </div>
                    </div>                    
                </div>
            </div>
        </div>     
    </div>

    <h4>Visible</h4>

    <div class="row ">

        <div class="mv_24">
            <div class="demo-block">Resize browser window to hide columns

                <div class="row ">
                    <div class="mv_12 hd_visible" >
                        <div class="demo-block">mv_12 hd_visible
                        </div>
                    </div>
                    <div class="mv_12 ds_visible">
                        <div class="demo-block">mv_12 ds_visible
                        </div>
                    </div>                    
                </div>
            </div>
        </div>     
    </div>

    <h4>Hidden & Visible mix</h4>

    <div class="row ">

        <div class="mv_24">
            <div class="demo-block">Resize browser window to see hiden column on ds_ and hide on tb_ down

                <div class="row ">
                    <div class="mv_12 tb_visible hd_hidden" >
                        <div class="demo-block">mv_12 tb_visible hd_hidden
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>     
    </div>

</div>


<!-- Code -->
<div class="row">
    <div class="mv_24">
        <pre>
            <code class="html-language">
    &lt;h4&gt;Hidden&lt;/h4&gt;

    &lt;div class="row "&gt;

        &lt;div class="mv_24"&gt;
            &lt;div class="demo-block"&gt;Resize browser window to see hiden columns

                &lt;div class="row "&gt;
                    &lt;div class="mv_12 hd_hidden" &gt;
                        &lt;div class="demo-block"&gt;mv_12 ds_hidden
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class="mv_12 ds_hidden"&gt;
                        &lt;div class="demo-block"&gt;mv_12 tb_hidden
                        &lt;/div&gt;
                    &lt;/div&gt;                    
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;     
    &lt;/div&gt;

    &lt;h4&gt;Visible&lt;/h4&gt;

    &lt;div class="row "&gt;

        &lt;div class="mv_24"&gt;
            &lt;div class="demo-block"&gt;Resize browser window to hide columns

                &lt;div class="row "&gt;
                    &lt;div class="mv_12 hd_visible" &gt;
                        &lt;div class="demo-block"&gt;mv_12 hd_visible
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class="mv_12 ds_visible"&gt;
                        &lt;div class="demo-block"&gt;mv_12 ds_visible
                        &lt;/div&gt;
                    &lt;/div&gt;                    
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;     
    &lt;/div&gt;

    &lt;h4&gt;Hidden &amp; Visible mix&lt;/h4&gt;

    &lt;div class="row "&gt;

        &lt;div class="mv_24"&gt;
            &lt;div class="demo-block"&gt;Resize browser window to see hiden column on ds_ and hide on tb_ down

                &lt;div class="row "&gt;
                    &lt;div class="mv_12 tb_visible hd_hidden" &gt;
                        &lt;div class="demo-block"&gt;mv_12 tb_visible hd_hidden
                        &lt;/div&gt;
                    &lt;/div&gt;
                    
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;     
    &lt;/div&gt;
            </code>
        </pre>
    </div>
 
</div>
